# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/
.venv/

# OS junk files
.DS_Store
Thumbs.db

# Environment variables
.env

# SQLite database (optional)
# Uncomment if you do NOT want to commit your DB
# database.db
